# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Application.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\zdrav\OneDrive\Рабочий стол\University\С#\EduTeam\Application\.idea\.idea.Application.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
