@model List<User_Interface.Models.ViewProject>

@{
    //Layout = null;
    ViewData["Title"] = "Проекты — EduTeam";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/proj_peop.css"/>
</head>
<body>
<div>
    
</div>
</body>