# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TeamFinder.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\zdrav\OneDrive\Рабочий стол\University\С#\EduTeam\.idea\.idea.TeamFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
