@model List<ViewProject>

@{
    ViewBag.Title = "Мои проекты" + " — EduTeam";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div>
    <div>
        <h2>Проекты, в которых я участвую</h2><hr/>
        
        
    </div>
    <div>
        <h2>Мои проекты</h2><hr/>

        @if (Model != null)
        {
            foreach (var project in Model)
                await Html.PartialAsync("~/Views/Projects/ProjectSummary.cshtml", project);
        }
        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("CreateProject", "Projects")">Добавить</a>
                        
        
    </div>
</div>
</body>