@model ViewUser

@{
    ViewBag.Title = "Мои проекты" + " — EduTeam";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div>
    <div>
        <h2>Проекты, в которых я участвую</h2><hr/>
        
        
    </div>
    <div>
        <h2>Мои проекты</h2><hr/>
        
        
    </div>
</div>
</body>