@{
    ViewData["Title"] = "EduTeam сервис для поиска команды";
}
<!DOCTYPE html>
<html lang="ru">

<div>
    <div>
        <div class="page-layout-content">
            <div class="info-block1">
                <div>
                    <h2 class="hi">
                        Привет, это EduTeam.
                    </h2>
                </div>
                <div>
                    <p class="main-text">
                        Хочешь сделать свой проект для получения опыта или сдачи практики в университете — здесь 
                        для этого ты сможешь найти замотивированных людей в команду.
                    </p>
                </div>
                <a class="btn btn-primary btn-lg btn-block main-btn" href="#" role="button">Найти команду</a>
            </div>
            <div class="main-img1">
                <img src="Resources/man_at_computer.png" width="480" height="406" alt="lorem"/>
            </div>
        </div>

        <div class="page-layout-content">
            <div class="main-img2">
                <img src="Resources/man_at_computer.png" width="480" height="406" alt="lorem"/>
            </div>
            <div class="info-block1" style="margin-top: 100px">
                <div>
                    <p class="main-text">
                        Также, если хочешь попробовать себя в другой роли: разработчиком, дизайнером, 
                        менеджером, кем угодно — ты можешь найти команду, нуждающуюся в таком человеке, 
                        и присоедениться к ней.
                    </p>
                </div>
                <a class="btn btn-primary btn-lg btn-block main-btn" href="#" role="button">Найти проект</a>
            </div>
        </div>
    </div>
</div>