@model ViewTeamRole

<div class="card mt-3" style="width: 18rem">
    <div class="card-body" style="padding: 7px">
        <h6 class="card-title">@Model.Name</h6>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="card-link" style="font-size: 14px">Изменить</a>
        <a href="#" class="card-link" style="font-size: 14px">Удалить</a>
    </div>
</div>