@model ViewUser

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.SecondName</h5>
        <p class="card-text">@Model.Description</p>
        <a class="btn btn-outline-primary btn-sm" style="horiz-align: right; vertical-align: bottom" href="@Url.Action("User", "Users", new {guid = Model.Guid})">Перейти к профилю</a>
    </div>
</div>
