@model ViewUser

@{
    ViewBag.Title = Model.Nickname + " — Проект — EduTeam";
    Layout = "_Layout";
}

<head>
    
</head>
    <body>
    <h2>@Model.FirstName @Model.SecondName</h2>
    <hr/>

    <h5>Описание: </h5>
    <p>@Model.Description</p>
</body>
